.col-center {
  float: none;
  margin: 0 auto;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

#checklist-search input[type=search] {
  outline: none;
  float: right;
	border: solid 0.075em #ccc;
	padding: 0.3em 0.2em 0.2em 0.3em;
  font: 100% Arial, Helvetica, sans-serif;
  margin: 0 auto;

  -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 80%;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.search-collapsed {
  visibility: hidden;
	width: 0em;
	padding-left: 0em;
	padding-right: 0em;
}

.search-expanded {
	width: 12em;
	padding-left: 1em;
	padding-right: 1em;
	color: #000;
}
.search-icon {
  float: right;
  top: 0em;
  color: #555;
  background: #ffb444;
	border: solid 0.075em #555;
	padding: 0.17em 0.17em 0.17em 0.17em;
	width: 1.4em;
}
.search-icon:hover {
  color: #000;
  border: solid 0.075em #000;
}

#checklist-search #checklist-results {
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 0.075em;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    background-color: #fff;
}

#checklist-search #checklist-results li {
    display: block;
    position: relative;
    margin: 0 0;
    padding: 0.5em 3em 0.5em 1em;
    border: 0.075em solid transparent;
}

#checklist-search #checklist-results li:hover {
    text-decoration: none;
    color: #000;
    background-color: #CCC;
}

#checklist-search #checklist-results a {
  text-decoration: none;
  color: #000;
}

#checklist-search #checklist-results a:hover {
  text-decoration: none;
  color: #000;
}

.navbar-nav li a {
 line-height: 1em;
}
